* {
  background: rgb(21, 20, 22);
}

.container-center {
  width: 700px;
  height: 300px;
  margin-top: 50px;
  margin-left: 10px;
  background-color: rgb(213, 247, 255);
  text-align: center;
  /* overflow-x: scroll; */
  /* overflow: hidden; */
  float: left;
}

.container-overflow {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: 10px;
  background-color: rgb(213, 247, 255);
  /* text-align: center; */
  /* overflow-x: scroll; */
  overflow: hidden;
  float: left;
}

.container-center img {
  max-width: 100%;
  max-height: 100%;
}

.container-overflow img {
  width: 200px;
  height: 200px;
  margin-left: -10px;
}
